
$black: #333;
$white: #fff;

$green: #b5ce4d;
$purple: #c4436b;
$red: #f74b4b;
$blue: #61a6d6;
$yellow: #f0f;
$beige: #c1a983;
$gray: #eee;
$brown: #c1a983;
$orange: #d35907;

// Dark variants
$dark_green: shade($green, 50%);
$dark_purple: shade($purple, 50%);
$dark_red: shade($red, 50%);
$dark_blue: shade($blue, 50%);
$dark_yellow: shade($yellow, 50%);
$dark_beige: shade($beige, 50%);
$dark_gray: shade($gray, 50%);
$dark_brown: shade($brown, 50%);
$dark_orange: shade($orange, 50%);

// Light variants
$light_green: tint($green, 50%);
$light_purple: tint($purple, 50%);
$light_red: tint($red, 50%);
$light_blue: tint($blue, 50%);
$light_yellow: tint($yellow, 50%);
$light_beige: tint($beige, 50%);
$light_gray: tint($gray, 50%);
$light_brown: tint($brown, 50%);
$light_orange: tint($orange, 50%);
