
body {
  background-color: $background_color;
  color: $text_color;
}

$card_bgc: #fff;
$card_border_col: #888;


$primary_color: #b5ce4d; // Vert
$secondary_color: #c4436b; // Violet

$cta_color: $primary_color;
