
//////////////////////////
// Sizes
//////////////////////////
$root_font_size: 1.6rem;

$vertical_spacing: $root_font_size;
$horizontal_spacing: $root_font_size;


//////////////////////////
// Basic colors
//////////////////////////
$text_color: #333;
$background_color: #f8f7de;
