
//////////////////////////
// Sizes
//////////////////////////
$root_font_size: 1.6rem;

$vertical_spacing: $root_font_size;
$horizontal_spacing: $root_font_size;

$form_input_height: $root_font_size * 2.4;


$tablet_breakpoint: 40em;
$desktop_breakpoint: 60em;


//////////////////////////
// Basic colors
//////////////////////////
$text_color: $black;
// $background_color: #f8f7de;
$background_color: $white;
$primary_color: $green;
$secondary_color: $purple;
$cta_color: $blue;

$form_bg_color: $white;

//////////////////////////
// Components colors
//////////////////////////
// Card
$card_bgc: $white;
