
#top_header {
  color: white;
  background-color: black;

  section {
    @include outer-container;
    background-color: gray;
  }

}

#main_header {
  background-color: pink;

  header {
    @include outer-container;
    background-color: brown;
  }

}
