
#top_header {
  color: white;
  background-color: $secondary_color;

  section {
    @include outer-container;
  }

}

#main_header {
  header {
    @include outer-container;
    background-color: $primary_color;
  }


  .custom-logo {
    width: 100px;
    height: 100px;
    float: left;
  }

}

#site-identity {
  text-decoration: none;
  display: block;
  padding: 20px 0;

  h1 {
    margin: 0;

  }
}
